

```
# PANDAS ASSIGNMENT
```
Akshat Behera - 
Pandas Assignment - Dataset(africa) - 12th August 2021

# Pandas Exercises - Akshat Behera - 12th August 2021 - Completed


**Source of the Data: https://www.kaggle.com/chirin/africa-economic-banking-and-systemic-crisis-data/downloads/africa-economic-banking-and-systemic-crisis-data.zip/1**


This dataset is a derivative of Reinhart et. al's Global Financial Stability dataset which can be found online at: https://www.hbs.edu/behavioral-finance-and-financial-stability/data/Pages/global.aspx

The dataset will be valuable to those who seek to understand the dynamics of financial stability within the African context.

Content
The dataset specifically focuses on the Banking, Debt, Financial, Inflation and Systemic Crises that occurred, from 1860 to 2014, in 13 African countries, including: Algeria, Angola, Central African Republic, Ivory Coast, Egypt, Kenya, Mauritius, Morocco, Nigeria, South Africa, Tunisia, Zambia and Zimbabwe.



* caseA     number which denotes a specific country
* cc3A     three letter country code
* country    The name of the country
* year   The year of the observation
* systemic_crisis"0" means that no systemic crisis occurred in the year and "1" means that a systemic crisis occurred in the year.
* exch_usd    The exchange rate of the country vis-a-vis the USD
* domestic_debt_in_default   "0" means that no sovereign domestic debt default occurred in the year and "1" means that a sovereign domestic debt default occurred in the year
* sovereign_external_debt_default  "0" means that no sovereign external debt default occurred in the year and "1" means that a sovereign external debt default occurred in the year
* gdp_weighted_default    The total debt in default vis-a-vis the GDP
* inflation_annual_cpi    The annual CPI Inflation rate
* independence   "0" means "no independence" and "1" means "independence"
* currency_crises  "0" means that no currency crisis occurred in the year and "1" means that a currency crisis occurred in the year
* inflation_crises  "0" means that no inflation crisis occurred in the year and "1" means that an inflation crisis occurred in the year
* banking_crisis"no_crisis" means that no banking crisis occurred in the year and "crisis" means that a banking crisis occurred in the year


---
# Complete the Tasks Below
---

**TASK: Import pandas**

In [47]:
import pandas as pd       ##Completed

**TASK:  Read in the african_econ_crises.csv file that is located under the 01-Crash-Course-Pandas folder. Pay close attention to where the .csv file is located! Please don't post to the QA forums if you can't figure this one out, instead, run our solutions notebook directly to see how its done.**

In [3]:
df = pd.read_csv('/content/sample_data/african_econ_crises.csv')

In [4]:
df

      case  cc3   country  ...  currency_crises  inflation_crises  banking_crisis
0        1  DZA   Algeria  ...                0                 0          crisis
1        1  DZA   Algeria  ...                0                 0       no_crisis
2        1  DZA   Algeria  ...                0                 0       no_crisis
3        1  DZA   Algeria  ...                0                 0       no_crisis
4        1  DZA   Algeria  ...                0                 0       no_crisis
...    ...  ...       ...  ...              ...               ...             ...
1054    70  ZWE  Zimbabwe  ...                1                 0          crisis
1055    70  ZWE  Zimbabwe  ...                0                 0       no_crisis
1056    70  ZWE  Zimbabwe  ...                0                 0       no_crisis
1057    70  ZWE  Zimbabwe  ...                0                 0       no_crisis
1058    70  ZWE  Zimbabwe  ...                0                 0       no_crisis

[1059 rows x 14 columns]

**TASK: Display the first 5 rows of the data set**

In [ ]:
# CODE HERE

In [46]:
df.head()       ##Completed

   case  cc3  country  ...  currency_crises  inflation_crises  banking_crisis
0     1  DZA  Algeria  ...                0                 0          crisis
1     1  DZA  Algeria  ...                0                 0       no_crisis
2     1  DZA  Algeria  ...                0                 0       no_crisis
3     1  DZA  Algeria  ...                0                 0       no_crisis
4     1  DZA  Algeria  ...                0                 0       no_crisis

[5 rows x 14 columns]

**TASK: How many countries are represented in this data set?**

*   List item
*   List item

In [ ]:
# CODE HERE

In [45]:
## df.groupby('country').count() - ##Provides Total 13 Values in the Table
df['country'].nunique()           ##Completed

13

**TASK: What are the countries represented in this data set?**

In [ ]:
# CODE HERE

In [44]:
df['country'].unique()         ##Completed

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

**TASK: What country had this highest annual CPI Inflation rate? What was the inflation rate?**

In [ ]:
# CODE HERE

In [101]:
df.groupby( ['inflation_annual_cpi']).max().sort_values('cc3', ascending=False).head(1)

                      case  cc3  ... inflation_crises  banking_crisis
inflation_annual_cpi             ...
21989695.22             70  ZWE  ...                1          crisis

[1 rows x 13 columns]

**TASK: In what year did Kenya have its first System Crisis?**

In [ ]:
# CODE HERE

In [100]:
df[(df['country'] == 'Kenya') & (df['systemic_crisis']== 1)].head(1)

     case  cc3 country  ...  currency_crises  inflation_crises  banking_crisis
475    35  KEN   Kenya  ...                0                 0          crisis

[1 rows x 14 columns]

**TASK: How many yearly systemic crisises have occurred per country?**

In [ ]:
# CODE HERE

In [102]:
df.groupby('country').sum()['systemic_crisis']

country
Algeria                      4
Angola                       0
Central African Republic    19
Egypt                        6
Ivory Coast                  4
Kenya                       13
Mauritius                    0
Morocco                      2
Nigeria                     10
South Africa                 0
Tunisia                      5
Zambia                       4
Zimbabwe                    15
Name: systemic_crisis, dtype: int64

**TASK: How many years did  Zimbabwe have a sovereign external debt default occur?**

In [ ]:
# CODE HERE

In [103]:
df.groupby('country').sum()['sovereign_external_debt_default']['Zimbabwe']

30